h1{
    text-align: center;
    margin-left: 550px;
        width:200px;
    font-size: 25px !important;
    }

    canvas{
        animation-name: color-change;   
        animation-duration: 4s;
        animation-iteration-count: infinite;
        }
        
        @keyframes color-change{
            from{box-shadow:1px 1px 38px red;}
            to{box-shadow:1px 1px 38px blue;}
        }

        #clickclick{
            margin-left:567px;
        }